.earthquakes-over-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 24px;

    .title {

        font-size: 16px;
        padding: 0px;
    }

    .chart-area {
        width: 100%;
    }
}