<section>
    <div class="earthquake-table-note">*double click to edit, click away to save</div>
    <div class="earthquake-header">
        <div class="date">Date</div>
        <div class="magnitude">Magnitude</div>
        <div class="latitude">Latitude</div>
        <div class="longitude">Longitude</div>
        <div class="depth">Depth</div>
        <div class="type">Type</div>
    </div>
    <div *ngIf="!isEditRow" class="earthquake-add" (click)="handleAddEarthquake($event)">+ Add Earthquake</div>
    <app-earthquake-item *ngIf="isEditRow" [isEditOnly]="true" [earthquake]="defaultEarthquake"
        (update)="handle_create($event)" (delete)="handle_delete($event)"></app-earthquake-item>
    <app-earthquake-item *ngFor="let earthquake of earthquakes" [earthquake]="earthquake"
        (update)="handle_update($event)" (delete)="handle_delete($event)">
    </app-earthquake-item>
    <div class="earthquake-load-more-parent">
        <div class="earthquake-load-more" (click)="load_more()">Load More</div>
    </div>
</section>