.earthquake-header {
    display: grid;
    // grid-template-columns: 200px repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;

    background-color: var(--dark-background);
    color: var(--light-text);
    font-weight: bold;

    div {
        padding: 16px 12px;
    }
}

.earthquake-add {
    padding: 12px 16px;

    color: var(--dark-background);

    &:hover {
        font-weight: 600;
        cursor: grab;
    }

    &:active {
        font-weight: 600;
        color: var(--light-background)
    }
}

.earthquake-table-note {
    font-size: 10px;
}


.earthquake-load-more-parent {
    display: flex;
    justify-content: center;

    .earthquake-load-more {
        color: var(--dark-background);
        padding: 12px 16px;

        &:hover {
            font-weight: 600;
            cursor: grab;
        }

        &:active {
            font-weight: 600;
            color: var(--light-background);
        }
    }
}