.largest-earthquake-item {
    .header-item {
        font-weight: 600;
    }

    display: grid;
    grid-template-columns: 1fr 64px 1fr;

    .country {
        text-align: right;
    }
}

.divider-line {
    height: 1px;
    width: 100%;
    background-color: var(--dark-background);

    margin: 4px 0px 8px 0px;
}