<app-dashboard-card>
    <div title>Largest Earthquakes</div>
    <div body>
        <div class="largest-earthquake-item">
            <div class="header-item">Magnitude</div>
            <div class="header-item">Date</div>
            <div class="header-item">Country</div>
        </div>
        <div class="largest-earthquake-item" *ngFor="let earthquake of largestEarthquakeList">
            <div class="magnitude">
                {{ earthquake.magnitude }}
            </div>

            <div class="date">
                {{ earthquake.date | isoToStandard }}
            </div>
            <div class="country" *ngIf="earthquake.country">{{earthquake.country}}</div>
            <div class="country" *ngIf="!earthquake.country">Unable to determine country</div>
        </div>
    </div>
</app-dashboard-card>