<app-dashboard-card>
    <div title>Largest Earthquakes</div>
    <div body>
        <div class="largest-earthquake-item">
            <div class="header-item date">Date</div>
            <div class="header-item magnitude">Mag.</div>
            <div class="header-item country">Country</div>
        </div>
        <div class="divider-line"></div>
        <div class="largest-earthquake-item" *ngFor="let earthquake of largestEarthquakeList">
            <div class="date">
                {{ earthquake.date | isoToStandardShort }}
            </div>
            <div class="magnitude">
                {{ earthquake.magnitude }}
            </div>
            <div class="country" *ngIf="earthquake.country">{{earthquake.country}}</div>
            <div class="country" *ngIf="!earthquake.country">N/A</div>
        </div>
    </div>
</app-dashboard-card>