/* You can add global styles to this file, and also import other style files */

// using the color palate found here
/* https://colorhunt.co/palette/dcf2f17fc7d93654860f1035 */

:root {
    --light-text: #DCF2F1;
    --light-background: #7FC7D9;
    --dark-background: #365486;
    --dark-text: #0F1035;
}

/* override the browser defaults */
html {
    padding: 0px;
    margin: 0px;

    font-family: 'Source Sans 3';
    font-size: 16px;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: 'Source Sans 3';
    font-size: 24px;
    font-weight: 600;
    padding: 24px 0px;
    margin: 0px;
}