<app-dashboard-card [isLoading]="isLoading">
    <div title>Most Earthquakes (Last 10 Years)</div>
    <div body>
        <div class="earthquakes-frequency-data">
            <div class="frequency-entry">
                <div class="header-item">Country</div>
                <div class="header-item">Total Earthquakes</div>
            </div>
            <div class="frequency-entry" *ngFor="let item of data">
                <div class="name">{{item.name}}</div>
                <div class="count">{{item.count}}</div>
            </div>
        </div>
    </div>

</app-dashboard-card>